<div class="container">
  <div class="text-centre">
    <h1><%= @cocktail.name %> </h1>
    <h3>Ingredients: </h3>
    <ul>
      <% @doses.each do |dose| %>
      <li>
        <p><%= dose.description %>, <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </li>
    </ul>
    <div class="btn">
      <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
    </div>

  </div>
</div>
